.prodcard{
     width: 270px;
     border: 1px solid rgba(128, 128, 128, 0.458);
     padding: 20px;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.prodcard__img{
     position: relative;
     width: 100%;
     height: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.prodcard__img-1{
     transition: opacity .75s;
}

.prodcard__img-2{
     position: absolute;
     opacity: 0;
     transition: opacity .75s;
}

.prodcard__img:hover .prodcard__img-1{
     opacity: 0;
     transition: opacity .75s;
}

.prodcard__img:hover .prodcard__img-2{
     opacity: 1;
     transition: opacity .75s;
}

.prodcard hr{
     margin: 10px 0;
}

.prodcard__item{
     display: flex;
     flex-direction: column;
}

.prodcard__item span:first-child{
     color: gray
}

.prodcard__item span:last-child{
     padding-left: 25px;
}

.prodcard__buttons{
     display: flex;
     justify-content: space-evenly;
     margin-top: 8px;
     gap: 5px
}

.prodcard__add{
     display: flex;
     align-items: center;
     gap: 5px
}

.prodcard__iconcontainer{
     border-radius: 100%;
     background-color: #F85555;
     height: 30px;
     width: 30px;
     justify-content: center;
     align-content: center;
     color: white;
}


