.purchasecard {
     width: 300px;
     padding: 20px;
     border: 1px solid;
     border-radius: 20px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr, 2fr, 1fr;
     place-items: center;
}
.purchasecard__title{
     grid-column: span 3;
}

.purchasecard__price{
grid-column: span 3;
}